/*@import url(https://fonts.useso.com/css?family=Lato:300:400);*/

body {
margin: 0;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(
            60deg,
            rgba(84, 58, 183, 1) 0%,
            rgba(0, 172, 193, 1) 100%
    );
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    text-align: center;
    background-color: white;
}

.glass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 90vw;
    height: 80vh;
    border-radius: 5vw;
    background: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
}

.glass-container {
    width: 85vw;
    height: 70vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#glass-text {
    overflow: auto;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }

.glass-url {
    margin: 0;
    background: rgba(93, 117, 153, 0.1);
    border-color: rgba(255, 255, 255, 0.7);
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.7);
}

.goMenu {
    position: absolute;
    right: 10vw;
    top: 1vh;
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
}

.goCreate {
    position: absolute;
    right: 2vw;
    bottom: 15vh;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    font-size: 6vh;
}

.glass-gauge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.glass-form {
    width: 100%;
    height: 100%;
    display: block;
}

.model-title {
    width: 100%;
    margin-bottom: 1vh;
}

.glass-title {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
    color: #fff;
    margin: 1vh 0 1vh 3%;
    text-align: left;
}

.glass-content {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2vh;
    color: #fff;
    width: 100%;
    margin: 0;
}

.title-model-1 {
    display: flex;
    height: 7vh;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 3vh;
}

.glass-hr {
    color: white;
    width: 80%;
    text-align: left;
    margin: 0;
}

.title-model-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
}

.title-model-2-content {
    text-align: left;
}

.glass-gauge-title {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model-title {
    width: 100%;
}

.application-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
}

.application-container {
    width: 100%;
    height: 17vh;
    background: linear-gradient(
            60deg,
            rgba(84, 58, 183, 0.8) 0%,
            rgba(0, 172, 193, 0.8) 100%
    );
    border-radius: 2vw;
    margin-bottom: 2vh;
    cursor: pointer;
}

.app-config-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2% 0 0 2%;
}

.app-config-info-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
}

.app-title {
    width: 100%;
    color: white;
    font-size: 2.8vh;
    text-align: left;
    margin: 0;
}

.app-path {
    width: 100%;
    word-wrap: break-word;
    word-break: normal;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    font-size: 1.5vh;
    margin: 0;
}

.app-config-info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
}

.app-running {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    letter-spacing: 2px;
    color: rgba(112, 255, 188, 0.8);
    font-size: 2vh;
    border-width: 3px;
    border-color: rgba(112, 255, 188, 0.8);
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
}

.app-stop {
    font-family: "Lato", sans-serif;
    font-weight: 1000;
    letter-spacing: 2px;
    color: rgb(252, 130, 130);
    font-size: 2vh;
    border-width: 3px;
    border-color: rgb(252, 130, 130);
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
}

.app-time {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    font-size: 2vh;
    margin: 0;
}

.app-config-info-sign {
    margin: auto;
}

.app-sign {
    width: 5vh;
    height: 5vh;
    margin: 1vh 2vh 2vh 2vh;
    border-radius: 5vh;
    border-width: 0.5vh;
    border-style: solid;
    transition: 0.5s;
    cursor: pointer;
}

.app-sign-run {
    background: rgba(112, 255, 188);
    color: rgba(112, 255, 188);
    box-shadow: 0 0 0.1vh rgba(112, 255, 188),
                0 0 0.5vh rgba(112, 255, 188),
                0 0 1vh rgba(112, 255, 188),
                0 0 5vh rgba(112, 255, 188);
}

.app-sign-run:hover {
    background: none;
    color: none;
    box-shadow: none;
    border-color: rgba(112, 255, 188);
}

.app-sign-stop {
    border-width: 0.5vh;
    border-style: solid;
    border-color: rgba(112, 255, 188);
}

.app-sign-stop:hover {
    background: rgba(112, 255, 188);
    color: rgba(112, 255, 188);
    box-shadow: 0 0 0.1vh rgba(112, 255, 188),
                0 0 0.5vh rgba(112, 255, 188),
                0 0 1vh rgba(112, 255, 188),
                0 0 5vh rgba(112, 255, 188);
}

.app-active-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}

.progress-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.progress-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.progress {
    width: 40%;
}

.progress-bar {
    background-color: #86e01e;
}

.glass-input {
    width: 80%;
    height: 7%;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.3));
    border-radius: 2vw;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
    color: #fff;
}
.glass-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 30px;
}
.glass-input::-moz-placeholder { /* Firefox 19+ */
    font-size: 30px;
}
.glass-input::-ms-input-placeholder { /* IE 10+ */
    font-size: 30px;
}
.glass-input::-moz-placeholder { /* Firefox 18- */
    font-size: 30px;
}

.glass-input:focus {
    border-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.glass-button {
    margin-top: 15%;
    width: 80%;
    height: 8%;
    border-radius: 5vw;
    background: rgba(93, 117, 153, 0.1);
    border-color: rgba(255, 255, 255, 0.7);
    filter: drop-shadow(-2px 5px 5px rgba(0, 0, 0, 0.3));
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
    color: #fff;
}


.buttom-title {
    font-size: 28px !important;
}

.progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }

.progress-bar {
    height: 16px;
    border-radius: 4px;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}



/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for Mobile*/
@media only screen and (max-device-width: 768px) {
    .glass {
        min-height: 800px;
    }
}
/*Shrinking for PC*/
@media only screen and (min-device-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: auto;
    }

    .inner-header {
        transform: translateY(2vh);
    }

    h1 {
        font-size: 24px;
        margin: 0;
    }

    .glass {
        min-height: 600px;
        width: 30vw;
        border-radius: 1vw;
    }

    .glass-container {
        width: 29vw;
        height: 100%;
    }

    .glass-title {
        font-size: 24px;
    }

    .glass-button {
        font-size: 24px;
    }

    .glass-input {
        font-size: 20px;
    }

    #glass-text {
        margin-top: 2vh;
        font-size: 20px;
        height: 100%;
    }

    .item-time {
        font-size: 20px;
    }

    .waves {
        height: 5vh;
    }
    .glass-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 20px;
    }
    .glass-input::-moz-placeholder { /* Firefox 19+ */
        font-size: 20px;
    }
    .glass-input::-ms-input-placeholder { /* IE 10+ */
        font-size: 20px;
    }
    .glass-input::-moz-placeholder { /* Firefox 18- */
        font-size: 20px;
    }
    .application-container {
        height: 20vh;
    }
}
